/* Preloader */
#pantalla-carga {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(125deg, #FFF 0%, #F3F7FF 42.55%, #EAF1FF 64.42%, #D6E3FF 86.09%, #B8D0FF 100%);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: start;
    z-index: 9999;
    gap: 100px;
    align-content: center;
    /* visibility: visible;  */
}

#pantalla-carga h1 {

    color: rgb(0, 0, 0);
    animation: titilar 1.5s ease-in-out infinite;
    
    font-family: SF Pro Display;
    font-size: 3.75em;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
    /* margin-bottom: 3.5rem; */
    margin-top: 2rem;
    margin-right: 15rem;
    margin-left: 15rem;
}

#pantalla-carga #overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #0056FF;
    animation: expandir 3s ease-in-out forwards;
    animation-delay: 4s; /* Retraso de 4 segundos después de la animación principal */
}


@keyframes expandir {
    0% {
    height: 10px;
    }
    100% {
    height: 100%;
    }
}

.spinner {
    border: 6px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 6px solid #0056FF; /* Cambia el color según tu preferencia */
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Navbar */
.navbar {
    box-sizing: border-box;
    padding: 25px 65px 25px 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: #0056FF;*/
    color: #131212;
    /* padding: 10px 20px; */
    width: 100%;

    /* agregado para fixear */
    /*box-shadow: 0px 0px 4px 6px rgba(5, 53, 228, 0.296);*/
    position: fixed;
    z-index: 999;
    top: 0;

}

.logo {
    font-size: 24px;
    cursor: pointer;
}

.e__appears{
    display: none;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links.active {
    display: flex;
    margin-top: 0px;
}

.nav-links li {
    margin-right: 20px;
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #1d1b1b;
    /* font-weight: bold; */
}

.alink {
    text-decoration: none;
    color: #1d1b1b;  
    
    scroll-behavior: smooth;

    
}


.typo__ema{
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.typo__links{
    color: #FFF;
    font-family: SF Pro Display;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}

.effect__li{
    transition: all 0.3s ease;
}

.effect__li:hover{
    transform: scale(1.1); 
}
.square__laguages{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #FFF;
    transition: all 0.3s ease;
}

.square__laguages:hover{
    background-color: #003fbc;
    border: 2px solid #003fbc;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;

}

.bar {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
    border-radius: 3px;
}

.bar3{
    width: 20px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
    border-radius: 3px;    
}

.glassmorphism {
    background: rgb(236 238 244 / 73%);
    backdrop-filter: blur(10px);
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
    /* padding: 15px; */
}

.glassmorphism-menu-open {
    /* Estilos cuando el menú está abierto */
    background-color: #0056FF; /* Color azul de fondo, ajusta según sea necesario */
    backdrop-filter: none; /* Elimina el efecto glassmorphism cuando el menú está abierto */
    /* Otros estilos que desees cambiar cuando el menú está abierto */
}

/* ------------------ */
/* Footer */
footer{
    /*background-color: black;*/
    color: #1d1b1b;
}

footer a {
    text-decoration: none;
}

.footer__box1{
    padding: 4.375rem 8.125rem;
}

.footer__box2{
    display: flex;
    flex-flow: row wrap;
    align-items:end;
    justify-content: space-between;
}

.footer__box3{
    margin-top: 5.375rem;
    display: flex;
    flex-flow: row wrap;
    align-items: start;
    justify-content: space-between;
}

.e__logo{
    color: #FFF;
    font-family: Lalezar;
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; 
}

.work__together{
    color: #FFF;
    font-family: SF Pro Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 75% */
}

.icons__footer{
    margin-right: 2.625rem;
}

.icon__size{
    height: 40px;
    width: auto;
}

.icon__gmail{
    height: 35px;
    width: auto;
}

.icon__hover{
    fill: #ffffff; 
    transition: all 0.3s ease;
}

.icon__hover:hover{
    fill: #ffffff; 
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3)); 
    transform: scale(1.3); 
    cursor: pointer;
}

.lastText {
    color: #FFF;
    font-family: SF Pro Display;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 128.571% */
}

.effect__lastText{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid #0056FF;
    animation: typing 3s steps(15, end), blink-caret 1s step-end infinite;

}

@keyframes typing {
    from {
    width: 0;
    }
    to {
    width: 100%;
    }
}

@keyframes blink-caret {
    from, to {
    border-color: transparent;
    }
    50% {
    border-color: #0056FF;
    }
}

/* ------------------ */

@media screen and (max-width: 768px) {
    /* Pre */
    #pantalla-carga h1 {
        font-size: 2em;
        margin-right: 5rem;
        margin-left: 5rem;
    }
    /* Navbar */
    .menu-toggle {
        display: flex;
        cursor: pointer;
        overflow: hidden;
    }

    .effect__bars{
        transition: all 0.3s ease;
    }

    .menu-toggle:hover .effect__bars {
        /* background-color: #FC00F2; */
        background-color: #e5e5e5;
        transform: scale(1.2);
    }

    .navbar{
        max-width: 100%;
    }

    .logo{ 
        display: none;   
    }

    .e__appears{
        display: block;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #0056FF;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        padding: 20px 0px 20px 0px;
        z-index: 1;
        gap: 15px;
        border-radius: 0px 0px 30px 30px;
    }

    .nav-links.active {
        display: flex;
        justify-content: start;
        align-items: start;

    }

    .square__laguages {
        margin-left: 20px;
    }
    /* Footer */
    .footer__box1{
        padding: 20px 30px;
    }

    .footer__box2{
        display: flex;
        flex-flow: column wrap;
        align-items:start;
        justify-content: start;
        gap: 20px;
    }

    .footer__box2b {
        display: flex;
        flex-flow: row wrap;
        gap: 20px;
    }

    .icons__footer{
        margin-right: 20px;
    }

    .footer__box3{
        margin-top: 20px;
        display: flex;
        flex-flow: column wrap;
        align-items: start;
        justify-content: start;
    }

    .e__logo{
        padding-top: 20px;
    }

    .work__together{
        line-height: 55px
    }

    .lastText{
        font-size: 17px;
    }
    /* ------------------ */
}

@media screen and (min-width: 768px) and (max-width: 1240px) {
    /* Navbar */
    .logo{ 
        display: none;   
    }

    .e__appears{
        display: block;
        cursor: pointer;
    }
    /* ------------------ */
    /* Footer */
    footer{
        max-width: 100%;
    }
    .footer__box1{
        padding: 20px 30px;
    }

    .footer__box2{
        display: flex;
        flex-flow: column wrap;
        align-items:start;
        justify-content: start;
        gap: 20px;
    }

    .footer__box2b {
        display: flex;
        flex-flow: row wrap;
        gap: 20px;
    }

    .icons__footer{
        margin-right: 20px;
    }

    .footer__box3{
        margin-top: 20px;
        display: flex;
        flex-flow: column wrap;
        align-items: end;
        justify-content: start;
    }

    .e__logo{
        padding-top: 20px;
    }

    .work__together{
        line-height: 55px
    } 
    /* ------------------ */
}
/* ------------------ */